@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jaxzkm');
  src:  url('../fonts/icomoon.eot?jaxzkm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jaxzkm') format('truetype'),
    url('../fonts/icomoon.woff?jaxzkm') format('woff'),
    url('../fonts/icomoon.svg?jaxzkm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}


/* reglas, selectores, declaraciones, propiedades y valores de CSS */
body {
    font-family: 'Source sans pro', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla one', sans-serif;
}

/* En CSS, por definición, los estilos se aplican en cascada (Cascade Style Sheet).
Por lo que si repetimos un selector, se sobre escribirán las propiedades repetidas,
tomando el valor definido en la regla que está al final */
h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px; /* valor negativo */
    color: white;
    margin: 0;
    /* text-transform: uppercase;
    text-decoration: underline */
}

h2 {
    color: #026fff;
    font-family: 'Source sans pro', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* gris oscuro = #1d252c /
/ gris claro = #626262 /
/ background-color gris = #1b2127 /
/ Celeste: #026FFF /
*/

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

/* 
.header nav ol{
    margin-bottom: 0;
} */

.header a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1d252c;
    /* background-repeat: no-repeat; */
    /* background-size: 500px 300px; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero strong {
    color: #026fff;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    border: 2px solid gray;
    /* border-top: 1px solid blue;
    border-right: 1px solid green;
    border-bottom: 1px solid yellow;
    border-left: 1px solid orange;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: purple;     */
    border-radius: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    /* width: 500px;
    height: 500px; */
    background: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-details {
    /* display: inline-block;
    height: 300px; */
    /* margin: 0 auto; /* // Se usa para centrar horizontalmente */
    /* margin: 10px;
    vertical-align: top; */
    width: 50%;
}

.project-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

.project-course,
.project-date,
.project-url {
    margin-bottom: 10px;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla one', sans-serif;
}

.project-imageContainer {
    /* display: inline-block;
    vertical-align: top; */
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;
}

/* Pruebas de estilos con flexbox */

.flexbox {
 display: flex;
 flex-wrap: wrap; /* cuando pongo nowrap las cajas no bajan sino que se arma un scroll horizontal */
}

.box {
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    margin: 10px;
    flex-shrink: 0; /* Puede ser un valor entre 0 y 1, donde 0 indica que las cajas no se van a comprimir para que quepan y 1 lo contrario */
}

.footer {
    background-color: #1d252c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer a {
    color: #ffffff;
}

.footer img {
    vertical-align: middle;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    border-radius: 10px;
    background-color: #F4FBFF;
    flex-shrink: 0;
    margin: 1%;
    overflow: hidden;
    width: 48%;
}

.event img {
    /* width: 480px; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    background-color: white;
    border-radius: 5px;
    margin: 20px 40px;
    margin-top: -40px;
    position: relative;
    text-align: center;
    padding: 20px;
}

.event-description {
    text-align: left;
    margin: 10px;
}

.event-url {
    color: #026fff;
    border: 1px solid; /* El color del borde, por defecto, se hereda del color del texto */
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
}

.contact {
    background-color: #026FFF;
    color: white;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social {
    /* border: 1px solid red; */
}

.icon-twitter,
.icon-facebook,
.icon-github,
.icon-instagram {
    color: white;
    font-size: 60px;
    text-decoration: none;
}

.social-link {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    margin: 0 20px;
    text-decoration: none;
}

.social-link.twitter {
    background-image: url("../images/twitter.svg");
}


.social-link.facebook {
    background-image: url("../images/facebook.svg");
}
.social-link.github {
    background-image: url("../images/github.svg");
}
.social-link.instagram {
    background-image: url("../images/instagram.svg");
}

.form-email input {
    border-radius: 5px;
    border-color: grey;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    /* padding: 5px 30px; */
    padding: 5px 0; /* El ancho se lo dimos finalmente con el width */
    width: 100px;
}

.form-email h3 {
    font-family: 'Source sans pro', sans-serif;
}

.container {
    padding: 0 1em;
    align-items: inherit;
    /* border:  1px solid red; */
    display: inherit;
    flex-wrap: inherit;
    height: inherit;
    justify-content: inherit;
    margin: 0 auto;
    /* width: 1000px; */
    /* max-width: 1000px; */
    flex: 1;
}

/* Para Desktop first, se recomienda empezar con el MQ más grande */

@media screen and (max-width: 1024px){
    .portfolio {
        padding: 0;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

.html-video {
    width: 100%;
    height: auto;
    /* max-width: 100% */
}

.flexible-video {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.youtube-video {
    /* width: 100%;
    height: auto; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.8);
    display: none;
    text-align: center;
    line-height: 40px;
    position: fixed;
    z-index: 4;
    top: 5px;
    left: 5px;
    color: white;
}

@media screen and (max-width: 767px){
    .burger-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 1.5em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }
    .menu {
        position: fixed;
        background: rgba(2, 111, 255, .85);
        z-index: 3;
        top: 0;
        /* con bottom:0 y top:0 el elemento se estira verticalmente desde arriba hasta abajo */
        bottom: 0;
        left: -100vw; /* lo escondemos con position negativa */
        width: 100vw;
        /* comentamos esto porque el hijo ol hereda esta propiedad */
        /* height: 100vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    .project {
        display: block;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        /* font-size: 16px; */
    }
    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-course {
        font-size: .7em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: .8em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
    }

}

@media screen and (max-width: 587px) {
    .contact {
        display: block;
        height: auto;
        text-align: center;
        padding: 1em;
    }

    .form-email h3 {
        margin-top: 0;
    }

    .form-email button {
        margin: 1em auto;
    }

    .footer {
        /* Solución al centrado de textos en el footer CON flexbox */
        /* justify-content: center;  */

        /* Solución al centrado de textos en el footer SIN flexbox */
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 480px){
    h1 {
        font-size: 1.5em;
    }
    .project-details {
        font-size: 12px;
    }
    /* 1em = 16px (valor por defecto asignado por los browsers) */
    .event-detail {
        margin: -2em .5em .5em;
    }

    .social-link {
        margin: 0 10px;
    }
}

@media screen and (max-width: 320px){
    h1 {
        font-size: 1.2em;
        background: rgba(0,0,0,.5);
    }
    .hero {
        padding: 2em 1em;
    }
}